In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
from formatting import comma_del, remove_zeros

In [2]:
# Iterates through all csv files in 'County_Data_Clean' and produces a dictionary containing county abbreviations and 
# file names. 
files = os.listdir("County_Data_Clean")
counties = [x.split("_")[0] for x in files]
file_dict = {counties[i]:files[i] for i in range(len(files))}

# Outputs a CSV of county abbreviations
pd.DataFrame(counties).to_csv("Counties.csv")

In [3]:
# Imports Voter Registration Data For Precincts.
precinct_df = pd.read_csv("2018gen_precinct.csv")

# Drops blank row.
precinct_df = precinct_df.drop(5881)

In [4]:
# Creates Dictionary of Data Frames.
# Example: {..., "SEM":<data frame with clean Seminole County data>, ...}
county_df_dict = {}
for county in counties:
    path = os.path.join("County_Data_Clean",file_dict[county])
    county_df_dict[county] = pd.read_csv(path,index_col=0)

In [5]:
# Removes Leading Zeros from Precinct Data.
precinct_df['Precinct Number'].map(remove_zeros)
precinct_df

,County Code,Precinct Number,Republican Party of Florida,Florida Democratic Party,Other,Total
0,ALA,1,584,538,287,"1,409"
1,ALA,2,739,951,379,"2,069"
2,ALA,3,"1,626","1,520",961,"4,107"
3,ALA,4,"1,406","1,040",671,"3,117"
4,ALA,5,733,"1,552",841,"3,126"
...,...,...,...,...,...,...
5876,WAS,5,729,546,247,"1,522"
5877,WAS,6,221,318,85,624
5878,WAS,7,810,507,226,"1,543"
5879,WAS,8,764,696,175,"1,635"
5880,WAS,9,550,371,148,"1,069"

In [6]:
# Reformats precinct numbers for merge
for county in county_df_dict:
    county_df_dict[county] = county_df_dict[county].rename(columns = {"Unique PCT Identifier":"Precinct Number"})
    county_df_dict[county]['Precinct Number'] = county_df_dict[county]['Precinct Number'].map(str)
    county_df_dict[county]['Precinct Number'] = county_df_dict[county]['Precinct Number'].map(remove_zeros)

In [7]:
# Separates precinct data into a dictionary of data frames.
precinct_dict={}
for county in counties:
    precinct_dict[county]=precinct_df[precinct_df['County Code']==county]

In [8]:
# Merges precinct data into elections data for each county.
for county in counties:
    county_df_dict[county] = pd.merge(county_df_dict[county],precinct_dict[county],
                                      on=["Precinct Number","County Code"],
                                      how="inner")
    
    county_df_dict[county] = county_df_dict[county].rename(columns = {"Republican Party of Florida":"Registered Republicans",
                                     "Florida Democratic Party":"Registered Democrats",
                                     "Other":"Registered Other"})
    
    county_df_dict[county]['Total'] = county_df_dict[county]['Total'].map(comma_del)

In [9]:
county_precinct_gb_dict = {}

for county in counties:
    county_precinct_gb_dict[county] = county_df_dict[county].groupby('Precinct Number')

In [17]:
for county in counties:
    for precinct in county_precinct_gb_dict[county].groups.keys():
        df = county_precinct_gb_dict[county].get_group(precinct)
        turnout_vals = df['Total Registered'].map(int)
        precinct_vals = df['Total'].map(int)
        discrepancy = abs(max(turnout_vals) - max(precinct_vals))
        tolerance = .005*( max(turnout_vals) + max(precinct_vals) )
        if max(precinct_vals)==0:
            print(f"{county},{precinct}: p=0")
        if max(turnout_vals)==0:
            print(f"{county},{precinct}: t=0")
        if discrepancy > tolerance:
            print(f"{county} , {precinct} : {max(turnout_vals)} , {max(precinct_vals)}")
        #if sum((df['Total Registered'].map(int) - df['Vote Total'].map(int)).map(abs)) != 0:
            #print(county,precinct)

BRO , L015 : 9560 , 956
CAL , 101 : 1176 , 564
CAL , 401 : 781 , 244
CAL , 501 : 882 , 547
DAD , 100 : 3951 , 7479
DAD , 107 : 938 , 949
DAD , 11 : 1809 , 1955
DAD , 124 : 2083 , 3289
DAD , 161 : 1696 , 1716
DAD , 167 : 448 , 507
DAD , 172 : 182 , 185
DAD , 182 : 764 , 1010
DAD , 196 : 2216 , 2847
DAD , 202 : 2057 , 2190
DAD , 203 : 1211 , 2908
DAD , 205 : 1997 , 2040
DAD , 206 : 1252 , 2365
DAD , 207 : 2937 , 3192
DAD , 213 : 1579 , 2915
DAD , 215 : 1742 , 2751
DAD , 221 : 1259 , 2447
DAD , 222 : 1983 , 2564
DAD , 233 : 1777 , 2630
DAD , 248 : 1833 , 2887
DAD , 250 : 1653 , 2565
DAD , 251 : 2381 , 2690
DAD , 256 : 1344 , 2238
DAD , 258 : 718 , 1132
DAD , 261 : 1657 , 2321
DAD , 266 : 94 , 97
DAD , 269 : 1008 , 1600
DAD , 281 : 220 , 355
DAD , 295 : 962 , 3196
DAD , 300 : 2883 , 4017
DAD , 304 : 2857 , 3393
DAD , 341 : 25 , 26
DAD , 403 : 929 , 1362
DAD , 411 : 1084 , 2154
DAD , 413 : 2861 , 3231
DAD , 424 : 2303 , 2751
DAD , 430 : 1607 , 2426
DAD , 431 : 1185 , 1541
DAD , 434 : 1085 , 2088
DAD , 435 : 1633 , 2401
DAD , 436 : 1191 , 2259
DAD , 437 : 1047 , 2084
DAD , 438 : 1343 , 2678
DAD , 439 : 1027 , 2004
DAD , 440 : 1029 , 1894
DAD , 441 : 1374 , 2490
DAD , 462 : 2771 , 3621
DAD , 467 : 1206 , 2184
DAD , 470 : 2038 , 2415
DAD , 531 : 2164 , 2493
DAD , 533 : 2241 , 3109
DAD , 534 : 980 , 1829
DAD , 536 : 748 , 871
DAD , 550 : 2120 , 2169
DAD , 588 : 5 , 6
DAD , 591 : 1687 , 2204
DAD , 599 : 778 , 896
DAD , 626 : 473 , 580
DAD , 655 : 5 , 6
DAD , 656 : 474 , 637
DAD , 694 : 1597 , 2685
DAD , 731 : 1757 , 1880
DAD , 787 : 255 , 258
DAD , 796 : 106 , 128
DAD , 827 : 1332 , 2503
DAD , 829 : 1428 , 2324
DAD , 843 : 71 , 95
DAD , 845 : 1621 , 1994
DAD , 849 : 738 , 747
DAD , 895 : 1291 , 1527
DAD , 897 : 1112 , 1773
DAD , 919 : 1118 , 2325
DAD , 948 : 1363 , 2435
DAD , 959 : 1355 , 1536
DAD , 965 : 3979 , 4585
DAD , 969 : 2526 , 2939
DAD , 981 : 1016 , 1427
DAD , 982 : 118 , 152
DAD , 984 : 2914 , 3445
DAD , 991 : 1065 , 1898
GAD , 23 : 825 , 778
GAD , 4 : 2668 , 2500
HAR , 11 : 953 , 940
HAR , 6 : 777 , 764
HAR , 8 : 442 , 437
HOL,8: t=0
HOL , 8 : 0 , 1297
JEF , 1 : 2524 , 631
JEF , 10 : 3080 , 770
JEF , 11 : 3476 , 869
JEF , 12 : 2944 , 736
JEF , 13 : 684 , 171
JEF , 14 : 680 , 170
JEF , 15 : 2016 , 504
JEF , 16 : 576 , 144
JEF , 2 : 1396 , 348
JEF , 3 : 1176 , 294
JEF , 4 : 3320 , 830
JEF , 5 : 4116 , 1030
JEF , 6 : 2788 , 697
JEF , 7 : 3460 , 867
JEF , 8 : 3864 , 966
JEF , 9 : 3056 , 764
LIB,1: t=0
LIB , 1 : 0 , 366
LIB,2: t=0
LIB , 2 : 0 , 283
LIB,3: t=0
LIB , 3 : 0 , 1022
LIB,4: t=0
LIB , 4 : 0 , 969
LIB,5: t=0
LIB , 5 : 0 , 627
LIB,6: t=0
LIB , 6 : 0 , 692
LIB,7: t=0
LIB , 7 : 0 , 172
LIB,8: t=0
LIB , 8 : 0 , 243
MON , 10 : 1747 , 1839
MON , 11 : 1944 , 2786
MON , 12 : 1839 , 1965
MON , 13 : 2786 , 1578
MON , 14 : 1965 , 1529
MON , 15 : 1578 , 2190
MON , 16 : 1529 , 1730
MON , 17 : 2190 , 1392
MON , 18 : 1730 , 1148
MON , 19 : 1392 , 2001
MON , 20 : 1148 , 1228
MON , 21 : 2001 , 1039
MON , 22 : 1228 , 752
MON , 23 : 1039 , 1262
MON , 24 : 752 , 1592
MON , 25 : 1262 , 1590
MON , 28 : 1592 , 1431
MON , 29 : 1590 , 2343
MON , 30 : 1991 , 1437
MON , 31 : 1482 , 1287
MON , 32 : 1431 , 2044
MON , 8 : 1514 , 1747
MON , 9 : 1171 , 1944
SAR , 429 : 2217 , 3762
SAR , 501 : 1572 , 5322
WAK,1: t=0
WAK , 1 : 0 , 2649
WAK,10: t=0
WAK , 10 : 0 , 495
WAK,11: t=0
WAK , 11 : 0 , 1690
WAK,12: t=0
WAK , 12 : 0 , 2375
WAK,2: t=0
WAK , 2 : 0 , 5351
WAK,3: t=0
WAK , 3 : 0 , 1251
WAK,4: t=0
WAK , 4 : 0 , 180
WAK,5: t=0
WAK , 5 : 0 , 386
WAK,6: t=0
WAK , 6 : 0 , 1557
WAK,7: t=0
WAK , 7 : 0 , 3293
WAK,8: t=0
WAK , 8 : 0 , 956
WAK,9: t=0
WAK , 9 : 0 , 627
WAS , 11 : 2084 , 397
WAS , 12 : 1200 , 2084
WAS,4: t=0
WAS , 4 : 0 , 3753
WAS,5: t=0
WAS , 5 : 0 , 1522
WAS,6: t=0
WAS , 6 : 0 , 624
WAS,7: t=0
WAS , 7 : 0 , 1543