In [1]:
import pandas as pd
import numpy as np
from scipy.stats import linregress
import matplotlib.pyplot as plt
import os

file_path = os.path.join("CSVs",'election_data_clean.csv')
elec_data= pd.read_csv(file_path,index_col=0)

elections = elec_data.groupby("Contest Name")

C:\Users\spear_000\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
senate_results = elections.get_group('United States Senator')

In [6]:
senate_totals_gb = senate_results.groupby('Candidate')

In [7]:
senate_totals_gb.groups.keys()

dict_keys(['Bill Nelson', 'OverVotes', 'Rick Scott', 'UnderVotes', 'WriteinVotes'])

In [20]:
senate_totals=pd.DataFrame(senate_totals_gb['Vote Total'].sum())
senate_totals['Registered Republicans'] = senate_totals_gb['Registered Republicans'].sum()
senate_totals['Registered Democrats'] = senate_totals_gb['Registered Democrats'].sum()
senate_totals['Registered Other'] = senate_totals_gb['Registered Other'].sum()

In [21]:
senate_totals

,Vote Total,Registered Republicans,Registered Democrats,Registered Other
Candidate,,,,
Bill Nelson,4082478,4724472,5082919,3726405
OverVotes,2759,4724472,5082919,3726405
Rick Scott,4089966,4724472,5082919,3726405
UnderVotes,91541,4724472,5082919,3726405
WriteinVotes,24420,4724472,5082919,3726405